<div [ngClass]="{'wrapper': check==true}" >
  <header>
    <nav>
      <div class="nav_left">
        <div class="nav_icon_left">
          <i class="fa-sharp fa-solid fa-window-restore"></i>
        </div>
        <div class="search_panel">
          <div class="search_bar">
            <div class="search_icon">
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <input
              type="text"
              value=""
              placeholder="Search for transaction, item, etc"
            />
            <!-- <p>Search for transaction, item, etc</p> -->
          </div>
          <div class="search_button" id="button">
            <p><span>Search</span></p>
          </div>
        </div>
      </div>
      <div class="nav_right">
        <div class="nav_icon">
          <i class="fa-regular fa-comment-dots"></i>
        </div>
        <div class="nav_icon">
          <i class="fa-regular fa-bell"></i>
        </div>
        <div class="nav_icon">
          <i class="fa-regular fa-user"></i>
        </div>
      </div>
    </nav>
  </header>

  <section>
    <div class="hero">
      <div class="hero_left">
        <div class="menu_list">
          <div class="nav_icon">
            <i class="fa-brands fa-windows"></i>
          </div>
          <div class="nav_icon">
            <i class="fa-solid fa-cart-shopping"></i>
          </div>
          <div class="nav_icon">
            <i class="fa-solid fa-file-lines"></i>
          </div>
          <div class="nav_icon">
            <i class="fa-solid fa-gear"></i>
          </div>
        </div>
        <div class="menu_list">
          <div class="nav_icon">
            <i class="fa-solid fa-circle-exclamation"></i>
          </div>
          <div class="nav_icon">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
          </div>
        </div>
      </div>
      <div class="hero_right">
        <div class="hero_topbar">
          <div class="hero_right_title">
            <h1>Dashboard</h1>
          </div>
          <div class="form_btn_container">
           <div class="form_button" (click)="searchform()" id="button">
            <p><span>Go to Form</span></p>
           </div>
        </div>
        </div>
        <div class="dashboard_cards">
          <div class="dashboard_mastercard">
            <div class="card_images">
              <div class="card_main_img">
                <i class="fa-regular fa-eye"></i>
              </div>
              <i class="fa-solid fa-chart-line"></i>
            </div>
            <div class="card_text">
              <p>Total Views</p>
              <h1>308,402</h1>
              <p id="divider">Start from 1 Jan 2021</p>
            </div>
          </div>

          <div class="dashboard_mastercard">
            <div class="card_images">
              <div class="card_main_img">
                <i class="fa-solid fa-bag-shopping"></i>
              </div>
              <i class="fa-solid fa-chart-line"></i>
            </div>
            <div class="card_text">
              <p>Total Views</p>
              <h1>309,600</h1>
              <p id="divider">Start from 1 Jan 2021</p>
            </div>
          </div>

          <div class="dashboard_mastercard">
            <div class="card_images">
              <div class="card_main_img">
                <i class="fa-solid fa-users"></i>
              </div>
              <i class="fa-solid fa-chart-line"></i>
            </div>
            <div class="card_text">
              <p>Total Views</p>
              <h1>308,402</h1>
              <p id="divider">Start from 1 Jan 2021</p>
            </div>
          </div>

          <div class="dashboard_mastercard">
            <div class="card_images">
              <div class="card_main_img">
                <i class="fa-solid fa-cart-shopping"></i>
              </div>
              <i class="fa-solid fa-chart-line"></i>
            </div>
            <div class="card_text">
              <div class="card_maintext">
                <div class="maintext_one">
                  <p>Total Views</p>
                </div>
                <div class="maintext_two">
                  <h1>308,402</h1>
                </div>
              </div>
              <div class="card_subtext">
                <p id="divider">Start from 1 Jan 2021</p>
              </div>
            </div>
          </div>
          <br />
        </div>
        <div class="record">
        <div class="dash_table">
          <table>
            <tr>
              <th>No</th>
              <th>Product Name</th>
              <th>Status</th>
              <th>Sales</th>
              <th>View</th>
            </tr>
            <tr *ngFor="let item of tableArray; let i = index" (click)="del(i)">
              <td *ngIf="item.status"><span class="sequence">{{ i + 1 }}</span></td>
              <td>{{ item.productName }}</td>
              <td class="status">{{ item.status }}</td>
              <td><span class="sequence">{{ item.sold }}</span></td>
              <td>{{ item.view }}</td>
            </tr>
          </table>
        </div>
        <div class="graph_container">
         <div class="graph">
              <img src="https://i.stack.imgur.com/drq2i.jpg" alt="">
         </div>
       </div>
      </div>
      </div>
    </div>  
  </section>
</div>
 
<div class="forms" *ngIf="check">
<div class="form_box">
  <form
    #Form="ngForm"
    (ngSubmit)="submitForm(Form.value)"
    autocomplete="off"
  >
    <label for="prod_name">Product Name</label><br />
    <input id="prod_name" ngModel type="text" name="productName" /><br />

    <label for="status">Status</label><br />
    <input id="status" ngModel type="text" name="status" /><br />

    <label for="sold">Sold</label><br />
    <input id="sold" ngModel type="text" name="sold" /><br />

    <label for="view">View</label><br />
    <input id="view" ngModel type="text" name="view" /><br /><br />

     <div class="submission">
       <button type="submit">Submit Form</button>
       <button (click)="cancel()">Cancel</button>
     </div>
  </form>
</div>
</div>
